<nav class="topMenuBar">
    <ul class="topMenu">
        <a href="/user"><li>inicio</li></a>
        <a href="/clientes"><li>clientes</li></a>
        <a href="/produtos"><li>produtos</li></a>
        <a href="/carrinho"><li>pedidos</li></a>
        <a href="/index"><li>sair</li></a>
    </ul>
</nav>